<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nature’s Bohm</title>
</head>
<body>
    <header>
        <h1 align = center>Hola</h1>
    </header>
    <nav>
        <a href=""></a>
    </nav>
    

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde alias quia iste laudantium eius, repellat quo deleniti assumenda sit esse quibusdam placeat. Sunt, aspernatur labore. Ducimus laborum rerum asperiores deleniti!</p>
    
</body>
</html>